body{
	background-color: #2D3A43;
	margin: 0px;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	color: inherit;
}

.clear{
	clear:both;
}

p{
	margin: 0;
}

ul{
	padding-left: 0;
}
